In [3]:
import pandas as pd
import numpy as np

# data_preprocessing.csv

class DataPreprocessing: 
    
    def __init__(self):
        #accept file name         
        self.fname=input("enter a file name")
        
    def Handling_missing_data(self):
        
        # loads csv file
        data = pd.read_csv(self.fname)
        print("type of data",type(data))

        print("original data is\n",data)

        # print sum of Na values column wise
        print("\nsum of NaN values column wise are\n",data.isnull().sum())
        print("\n\nsome basic statistical details\n\n",data.describe())
        #replacing null values by mean 
        print("\nreplacing NaN values of columns by mean values\n\n")
        data.replace(np.NaN,data.mean(),inplace=True)
        print(data)
    
    def 

# creates class object    
obj = DataPreprocessing()
# calling method by class object
obj.Handling_missing_data()

enter a file name data_preprocessing.csv

type of data <class 'pandas.core.frame.DataFrame'>
original data is
    Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

sum of NaN values column wise are
 Country      0
Age          1
Salary       1
Purchased    0
dtype: int64


some basic statistical details

              Age        Salary
count   9.000000      9.000000
mean   38.777778  63777.777778
std     7.693793  12265.579662
min    27.000000  48000.000000
25%    35.000000  54000.000000
50%    38.000000  61000.000000
75%    44.000000  72000.000000
max    50.000000  83000.000000

replacing NaN values of columns by mean values


   Country        Age        Salary Purchased
0   France  44.000000  72000.000000        No
1    Spain  27.000000  48000.000000       Yes
2  Germany  30.000000  54000.000000        No
3    Spain  38.000000  61000.000000        No
4  Germany  40.000000  63777.777778       Yes
5   France  35.000000  58000.000000       Yes
6    Spain  38.777778  52000.000000        No
7   France  48.000000  79000.000000       Yes
8  Germany  50.000000  83000.000000        No
9   France  37.000000  67000.000000       Yes