In [34]:
# import libraries
import pandas.api.types as ptypes
import pandas as pd
import numpy as np
import seaborn as sb
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression  
import pickle
import sklearn

In [35]:
# read file
df_original=pd.read_csv("test_data.csv")

df =df_original
df.head()

   YearsExperience    Salary
0              1.5   37731.0
1             10.3  122391.0
2              4.1   57081.0
3              3.9   63218.0
4              9.5  116969.0

In [36]:
# separate labels and features
x_test=df.iloc[:,:-1].values
y_test=df.iloc[:,1].values
# print(y)

In [37]:
# reading the pickle file

fileObject = open('train_data.pkl','rb')  
regressor = pickle.load(fileObject)

In [38]:
# getting the prediction values on train model
y_pred=regressor.predict(x_test)

In [39]:
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})  
df.head()

     Actual      Predicted
0   37731.0   42973.652581
1  122391.0  123941.155677
2   57081.0   66895.869405
3   63218.0   65055.698880
4  116969.0  116580.473577

In [40]:
# calculating accuracy on y_test data of test dataset
acc_test=sklearn.metrics.r2_score(y_test,y_pred)*100
print("Accuracy of test data =",acc_test)

Accuracy of test data = 96.50682708527877