In [85]:
# import all libraries
import pickle
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.metrics import confusion_matrix,accuracy_score
import warnings
warnings.filterwarnings('ignore')

In [86]:
# load test file
df = pd.read_csv('test_file.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,8069,15797710,Saunders,619,Germany,Male,29,4,98955.87,1,0,1,131712.51,0
1,6965,15569249,Howarth,576,France,Female,55,6,44582.07,3,0,1,67539.85,1
2,4245,15684908,Davidson,540,Germany,Male,64,1,91869.69,1,0,1,95421.00,0
3,896,15697000,Mello,728,Germany,Male,32,5,61825.50,1,1,1,156124.93,0
4,6744,15616213,Levy,555,Germany,Female,51,9,138214.50,1,1,0,198715.27,1

In [87]:
# load model
fileobj=open('save_model.pkl','rb')
classifier = pickle.load(fileobj)
sc = pickle.load(fileobj)

In [88]:
# seperating features and labels from dataset
x_test = df.iloc[:,3:13].values
# Exited
y_test = df.iloc[:,13].values

In [89]:
def categorical_encode(x):
   # Encoding categorical data country
    labelencoder_x_country = LabelEncoder()
    x[:,1] = labelencoder_x_country.fit_transform(x[:,1])
   # Encode categorical data gender
    labelencoder_x_gender = LabelEncoder()
    x[:,2]  =  labelencoder_x_gender.fit_transform(x[:,2])
    ohe_country = OneHotEncoder(categorical_features=[1])
    x = ohe_country.fit_transform(x).toarray()
    x = x[:, 1:]
    return x

x_test = categorical_encode(x_test)

In [90]:
# transform test data 
x_test = sc.transform(x_test)

In [91]:
# predict test result
prediction = classifier.predict(x_test)

In [92]:
# checking how many prediction are correct predicted and how many are wrongly predicted
cm = confusion_matrix(prediction,y_test)

In [93]:
# calculating accuracy
print (accuracy_score(y_test,prediction)*100,'% of cross validation data was classified correctly')

61.5 % of cross validation data was classified correctly